
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:wght@900&display=swap');

@font-face {
  font-family: "Migra";
  src: url("assets/migrabold.otf") format("opentype"),
       url("assets/migraitalic.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Migra";
  src: url("assets/migrabold.otf") format("opentype"),
       url("assets/migraitalic.otf") format("opentype");
  font-style: bold;
  font-weight: 800;
}

@font-face {
  font-family: "TuskerGrotesk";
  src: url("assets/TuskerGrotesk.ttf") format("truetype"),
       url("assets/TuskerGroteskBold.tff") format("truetype") bold;
  font-style: normal;
  font-weight: 400;
}


/* ---- Custom CSS ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  min-height: 1500px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hero-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax img {
    position: absolute;
    width: 50%;
    height: 50%;
    object-fit: contain;
    z-index: 10;
  }

.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -10;
}

.hero-container::before {
    content: '';
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10;
 }

 .hero-container::after {
  content: '';
  position: absolute;
  bottom:0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: -10;
}


.bio {
  position: absolute;
  bottom: 40%;
  left: 5%;
  width: 100%;
  height: 10em;
  z-index: 10;
  color: #fff;
}

span {
  font-family: "TuskerGrotesk";
  font-size: 7em;
}

.bio p {
  font-family: "Migra";
  font-size: 2.5em;
  z-index: 15;
  color: #ffffff;
}

 #text {
position: relative;
color: #fff;
font-size: 10em;
z-index: 1;
}

#venus {
  bottom: -5%;
  right: -20%;
  width: 70%;
  height: 70%;
  z-index: 10;
}

#saturn {
  top: 7%;
  left: 1%;
  width: 20%;
  height: 10%;
  z-index: -4;
}

#jupiter {
  top: 14%;
  left: 7%;
  width: 30%;
  height: 25%;
  z-index: -4;
}

#mars {
  top: 30%;
  left: 25%;
  width: 30%;
  height: 30%;
  z-index: -2;
}

#moonman {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80%;
}


/*======= SKILLS ====== */
.skills .glass {
position: relative;
  width: 20em;
  height: 20em;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 25px 25px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0-20px;
  transform: rotate(calc(var(--r) * 1deg));
}

.skills .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(18, 30, 79, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.skills {
  padding: 100px;
  z-index: 20;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  background: #0a2a43;
  top: 30%; /* Adjust as needed */
  transform: translateX(100px);
}

.skills .glass .material {
  font-size: 10em;
  color: #fff;
}

.skills svg {
  fill: white;
}

#mongo {
  fill: white;
  height: 50%;
}

.skills .glass {
  transition: transform 0.5s ease-in-out;
}

.skills:hover .glass {
  transform: rotate(0deg);
  cursor: pointer;
}

.title-skills h1 {
  background: linear-gradient(☐#fff2, transparent);
  font-family: 'TuskerGrotesk';
  font-size: 4em;
  color: #fff;
  transform: translateX(46%);
  align-items: center;
  width: 100vw;
}

.title-skills {
  background: #0a2a43;
  padding: 1em; /* Adjust as needed */
  z-index: 100;
  transform: translateY(-2em);
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.skills {
  position: relative;
  z-index: 20;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh; /* Adjust as needed */
  background: #0a2a43;
  top: 0%;
  transform: translateY(-23%);
  
}


.skills-container {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px; 
  margin-bottom: -4em;
  transform: translateY(4%);
}



/* ========== PROJECTS ==========*/

#projects-title {
  position: relative;
  background: #0a2a43;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 0.5em; /* Adjust as needed */
  z-index: 10000;
  transform: translateY(170%); /* Center the content vertically */
  width: 100vw;
  margin-bottom: 0em;
}

#projects-title h1 {
  background: linear-gradient(☐#fff2, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TuskerGrotesk';
  font-size: 4em;
  color: #fff;
  z-index: 1000;
}


.projects-container {
  position: relative;
  width: 100vw;
  height: 200%;
  display: flex;
  top: 0%;
  flex-direction: column;
  align-items: center;
  padding: 2em; /* Adjust as needed */
  padding-bottom: 0em; /* Adjust as needed */
  transform: translateY(-18%);
  margin-bottom: -4em;
}



.project-cards {
  position: relative;
  flex-wrap: wrap;
  z-index: 10; /* Adjust z-index value */
  width: 100vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #0a2a43;
  transform: translateY(0%);
  transform-style: preserve-3d;
  margin: 0em;
}

.project-cards .box {
  position: relative; 
  width: 300px; 
  height: 400px;
  margin: 3em;
  background: #0d3859;; 
  border-radius: 20px; 
  transform-style: preserve-3d; 
  z-index: 10;
  cursor: pointer;
  perspective: none;
  transform: translateZ(50px);
}

.project-cards .box .name{
  position: absolute;
  top: 1.5em;
  left: 0;
  text-align: center;
  color:#fff;
  width: 100%;
  transform-style: preserve-3d;
  font-family: "Migra";
  transition: 0.5s;
  opacity: 1;
  z-index: 10;
  cursor: pointer;
  font-size: 1.6em;
}


.view-demo, .view-code {
  position: absolute;
  bottom: 1em;
  left: 30%;
  transform-style: preserve-3d;
  color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  opacity: 1;
  z-index: 100000000;
  cursor: pointer;
  border: 2px solid #fff; 
}

.view-code {
  transform: translateY(-3.5em);
}


.project-cards .box .product {
  position: absolute;
  top: 33%;
  left: 50%;
  max-width: 20em;
  transition: 0.5s;
  z-index: 110000;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) 
}



/* ========== CONTACTS ==========*/

.contacts-box {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background: #0a2a43;
  margin-top: -40em;
}
 

ul{
  position: relative;
  display: flex;
}


.icons {
  position: relative;
  z-index: 100000;
  width: 6em;
  height: 6em;
  display: inline-block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:#fff;
  font-size: 1em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba (255, 255, 255,0.2);
  border-bottom: 1px solid rgba(255, 255, 255,0.2);
  box-shadow: 0 5px 45px rgba(0,0,0,0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}

.icons:hover{
  transform: translateY(-20px);
}


ul li .icons:hover::before {
  transform: skewX(45deg) translateX(150px);
}

ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}

/* ========== MEDIA QUERIES ========= */

/* Tablet styles (768px and above) */
@media only screen and (max-width: 1490px){
  .project-cards {
    transform: translateY(10%);
  }

  .contacts-box {
    transform: translateY(10%);
    margin-top: -15em;
  }

  #bio p{
    font-size: 2.5em;
  }
}



/* Mobile styles (below 768px) */
@media only screen and (max-width: 480px) {
  .contacts-box {
    transform: translateY(10em);
    
  }

  span {
    font-family: "TuskerGrotesk";
    font-size: 4em;
  }
  
  .intro {
    font-size: 0.5em;
  }
  

  .skills .glass {
    position: relative;
    width: 8em;
    height: 8em;
  }
}

@media only screen and (max-width: 720px) {
  .skills svg {
    fill: white;
    font-size: 0.5em;
  }
  .skills .glass .material {
    font-size: 6em;

  }

  .skills .glass {
      position: relative;
      width: 12em;
      height: 10em;
    }

    #contacts-box {
      transform: translateY(21em);
    }

    .title-skills h1 {
      transform: translateX(39%);
    }
    
    /* .title-skills {
      transform: translateY(-3em);
    } */
}

@media only screen and (max-width: 760px) {
  .project-container{
    height: 100vh;
    margin: 3.5em;
    margin-top: -7em;
  }

  #bio p {
    font-size: 1.9em;
  }

  .skills{
    margin-top: -1em;
    padding: -1em;
  }

  .project-cards {
    height: 200vh;
    margin: 2em;
    margin-top: 1em;
  }


  #projects-title {
    transform: translateY(21em);
    z-index: 10000;
    padding: 3px;
  }

  .contacts-box {
    transform: translateY(9em);
    margin-top: -40em;
  }
}
